#container {
    display:flex;
    flex-direction: column;
    margin: auto;

}
.row {
    display: flex;

}

.box {
    background-color: blue;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 30px;
    margin: 0px;
}

#button {
    text-align: center;
}