#container {
    display:flex;
    flex-direction: column;
    margin: auto;

}
.row {
    display: flex;

}

.hoverBox {
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0px;
}


.box {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0px;
}

#button {
    text-align: center;
}